section.conheca {
  position: relative;
  display: block;
  text-align: center;
}
section.conheca h2 {
  color: #8f51f4;
  font-weight: 600;
}
section.conheca .swiper-slide {
  position: relative;
  height: 500px;
  padding-top: 40px;
}
section.conheca .swiper-slide .box {
  position: relative;
  height: 430px;
  box-shadow: 5px 5px 20px #ccc;
  border-radius: 30px;
  text-align: left;
  overflow: hidden;
  width: 270px;
  max-width: 270px;
  margin: 0 auto;
}
section.conheca .swiper-slide .box .imgTop {
  position: relative;
  height: 200px;
  overflow: hidden;
}
section.conheca .swiper-slide .box .imgTop img {
  width: 100%;
  margin-top: -20px;
}
section.conheca .swiper-slide .box .innerContent {
  padding: 20px;
  padding-top: 0;
}
section.conheca .swiper-slide .box .innerContent h4 {
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #8f51f4;
}
section.conheca .swiper-slide .box .innerContent .lineOrange {
  width: 100%;
  height: 1px;
  margin-top: -5px;
  border-top: 1px solid #ff904e;
}
section.conheca .swiper-slide .box .innerContent .ponto {
  color: #8f51f4;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: 8px;
}
section.conheca .swiper-slide .box .innerContent .ponto img {
  position: relative;
  width: 20px;
  left: -8px;
  top: 4px;
}
section.conheca .swiper-slide .box .innerContent .btn {
  margin: 30px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  font-size: 16px;
  background-color: #ff904e;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}
section.realizar {
  position: relative;
  display: block;
  padding-top: 70px;
}
@media (max-width: 600px) {
  section.realizar {
    padding-top: 0;
  }
}
section.realizar .center {
  width: 100%;
}
section.realizar .left {
  position: relative;
  display: inline-block;
  width: 48%;
  vertical-align: top;
  padding-left: 10%;
}
@media (max-width: 600px) {
  section.realizar .left {
    width: 100%;
    display: block;
  }
}
section.realizar .left h3 {
  color: #8f51f4;
  font-size: 30px;
  font-weight: 600;
  width: 300px;
}
@media (max-width: 600px) {
  section.realizar .left h3 {
    width: 80%;
  }
}
section.realizar .left .content {
  width: 450px;
  font-size: 20px;
}
section.realizar .left .content .black {
  font-weight: 600;
}
@media (max-width: 600px) {
  section.realizar .left .content {
    width: 80%;
  }
}
section.realizar .left .chamada {
  position: relative;
  display: block;
  margin-top: 40px;
}
section.realizar .left .chamada .left {
  position: relative;
  width: 50px;
}
section.realizar .left .chamada .left img {
  position: relative;
  left: -60px;
}
section.realizar .left .chamada .right {
  position: relative;
  width: 350px;
  left: -60px;
}
@media (max-width: 600px) {
  section.realizar .left .chamada .right {
    width: 200x;
    top: -50px;
    left: 40px;
  }
}
section.realizar .left .chamada .right p {
  position: relative;
  top: -3px;
  font-size: 18px;
  font-weight: 600;
  color: #8f51f4;
}
@media (max-width: 600px) {
  section.realizar .left .chamada .right p {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  section.realizar .left .chamada .right p {
    font-size: 13px;
    text-align: left;
    width: 80%;
  }
}
section.realizar .left .btn {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 320px;
  font-size: 20px;
  background-color: #ff904e;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}
@media (max-width: 600px) {
  section.realizar .left .btn {
    width: 270px;
    display: block;
    margin-top: -30px;
  }
}
section.realizar .right {
  position: relative;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  left: -100px;
  top: -20px;
}
@media (max-width: 600px) {
  section.realizar .right {
    left: auto;
    top: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
section.realizar .right img {
  position: absolute;
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  float: right;
  right: -140px;
  top: 0;
}
@media (max-width: 600px) {
  section.realizar .right img {
    position: relative;
    min-width: 0;
    width: 60%;
    float: none;
    margin: 20px auto;
  }
}
footer {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 90px;
}
footer .left {
  position: relative;
  display: inline-block;
  width: 20%;
  text-align: left;
}
@media (max-width: 600px) {
  footer .left {
    width: 100%;
    text-align: center;
  }
}
footer .right {
  position: relative;
  display: inline-block;
  width: 60%;
  text-align: left;
}
@media (max-width: 600px) {
  footer .right {
    width: 100%;
    text-align: center;
  }
}
footer .right .unidade {
  position: relative;
}
footer .right .unidade .left {
  width: 3%;
  position: relative;
  display: inline-block;
}
footer .right .unidade .left img {
  position: relative;
  top: -12px;
}
footer .right .unidade .right {
  width: 80%;
  position: relative;
  display: inline-block;
}
footer .right .unidade .right .titulo {
  font-weight: 600;
  margin-bottom: -10px;
}
footer .direitos {
  position: relative;
  margin-top: 40px;
  font-size: 12px;
  margin-bottom: 30px;
}
.wrapWhatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999999999;
}
.wrapWhatsapp .whatsapp {
  width: 50px;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
}
.wrapWhatsapp .whatsapp:hover {
  opacity: 1;
  transition: all 0.3s;
}
